<div class="row">
  <div class="col-md-12 col-lg-5">
    <div class="card">
      <div class="card-header">
        {{ product.productName }}
      </div>
      <div class="card-block">
        <div class="card-img">
          <ul>
            <li>
              <img src="https://stt.wiki/w/images/thumb/c/c6/Ensign_Ro_Head.png/40px-Ensign_Ro_Head.png">
            </li>
            <li>
              <img src="https://stt.wiki/w/images/thumb/c/c6/Ensign_Ro_Head.png/40px-Ensign_Ro_Head.png">
            </li>
            <li>
              <img src="https://stt.wiki/w/images/thumb/c/c6/Ensign_Ro_Head.png/40px-Ensign_Ro_Head.png">
            </li>
            <li>
              <img src="https://stt.wiki/w/images/thumb/c/c6/Ensign_Ro_Head.png/40px-Ensign_Ro_Head.png">
            </li>
            <li>
              <img src="https://stt.wiki/w/images/thumb/c/c6/Ensign_Ro_Head.png/40px-Ensign_Ro_Head.png">
            </li>
          </ul>
          <img [src]="product.productImageUrl">
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link">Footer Action 1</button>
        <button class="btn btn-sm btn-link">Footer Action 2</button>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-7">
    <table class="table table-compact table-noborder">
      <tbody>
        <tr>
          <td class="left">Wolfman</td>
        </tr>
        <tr>
          <td class="left">Nondisclosed countryside</td>
        </tr>
        <tr>
          <td class="left">Sometimes</td>
        </tr>
        <tr>
          <td class="left">Not really</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>